.time {
  background: url(../img/fon3-min.png) no-repeat center / cover;
  padding: 291px 0 381px;
}

.time__content {
  margin: 0 auto;
  text-align: center;
}

.time__title {
  margin-bottom: 66px;
}

.time__text {
  line-height: 40px;
  font-size: 30px;
  letter-spacing: 5px;
  margin-top: 62px;
}

@media (max-width: 1279px) {
  .time {
  padding: 191px 0 251px;
  }
}
